@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.59);
}

.Shadow-sm {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.59);
}

.Degrade{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
}

.DegradeNav{
  background: rgb(141,184,245);
background: linear-gradient(180deg, rgba(141,184,245,1) 0%, rgba(103,168,220,1) 7%, rgba(87,159,208,1) 12%, rgba(71,150,196,1) 20%, rgba(51,139,181,0.9164040616246498) 36%, rgba(51,139,181,0.8883928571428571) 50%, rgba(51,139,181,0.7091211484593838) 81%, rgba(147,184,255,0) 100%);
}

.Shadow-Cob {
  text-shadow: 1px 1px 1px rgba(19, 70, 39, 0.911)
}