/* Reset de estilos para eliminar márgenes y paddings predeterminados */
body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.logo {
    padding: 10px;
}

.navbar {
    background-color: #007bffef;
    color: #fff;
    padding: 5px 0;
}

.navbar-content {
    display: flex;
    flex-direction: column; /* Cambio a dirección de columna */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Añadir esto para que los botones se ajusten */
    justify-content: center; /* Añadir esto para centrar los botones */
    margin-top: 10px; /* Espacio entre botones y FormBusc */
}

.navbar-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para los elementos del formulario en el navbar */
#search-form input,
#search-form button,
#search-form input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 5px;
}

.container {
    max-height: fit-content;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 20px;
}

/* Estilos para el formulario de búsqueda (FormBusc) */
.FormBusc {
    text-align: center; /* Centrar horizontalmente */
    padding: 20px; /* Agregar espaciado */
}

#search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#result-container {
    padding: 5px;
}

#data-table {
    width: 100%;
    font-size: 10px;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#data-table th {
    background-color: #d1d1d1;
}

#data-table tbody tr {
    transition: background-color 0.2s;
}

#data-table tbody tr:hover {
    background-color: #f0f0f0;
}
